apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
        - name: postgres
          image: {{ .Values.image }}
          env:
            - name: POSTGRES_DB
              value: {{ .Values.database }}
            - name: POSTGRES_USER
              value: {{ .Values.user }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.password }}
          ports:
            - containerPort: 5432
